name: Build and Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to Container Registry
        run: az acr login --name aljafunique123

      - name: Build and Push Docker Image
        run: |
          docker build -t aljafunique123.azurecr.io/nih-chest-xray-app:${{ github.sha }} .
          docker push aljafunique123.azurecr.io/nih-chest-xray-app:${{ github.sha }}

      - name: Deploy to Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'aljaf-xray-final'
<<<<<<< HEAD
          images: 'aljafunique123.azurecr.io/nih-chest-xray-app:${{ github.sha }}'
=======
          images: 'aljafunique123.azurecr.io/nih-chest-xray-app:${{ github.sha }}'
>>>>>>> 712c464db627c1926fe28404140d49fb056cea72
